{
  "space": {
    "listener": {
      "address": "0.0.0.0:7979"
    },
    "handler": {
      "name": "finger"
    },
    "basedir": "/ttserver/public",
    "routes": {
      "~^blog/(\\d{4})/(\\d{2})$": {
        "template": "blog/$1-$2.tpl"
      },
      "aggregator/music": {
        "template": "aggregator.tpl",
        "fetch": {
          "1_nwothm": {
            "type": "feed",
            "uri": "https://www.youtube.com/feeds/videos.xml?channel_id=UCCGbKiCJjph8Grazqmo7z4w"
          },
          "2_nuclearblast": {
            "type": "feed",
            "uri": "https://www.youtube.com/feeds/videos.xml?channel_id=UCoxg3Kml41wE3IPq-PC-LQw"
          }
        },
        "cron": "0 15 18 * * *"
      },
      "aggregator/unix": {
        "template": "aggregator.tpl",
        "fetch": {
          "1_slashdot": {
            "type": "feed",
            "uri": "http://rss.slashdot.org/Slashdot/slashdotMain"
          },
          "2_undeadly": {
            "type": "feed",
            "uri": "https://undeadly.org/cgi?action=rss&items=15"
          }
        },
        "cron": "0 30 */5 * * *"
      },
      "about/stats": {
        "fetch": {
          "prometheus": {
            "type": "prometheus",
            "uri": "http://127.0.0.1:9777/metrics"
          }
        },
        "cache": {
          "expiration": -1
        }
      }
    }
  }
}
