{
  "log": {
    "level": "trace",
    "format": "text",
    "to": "stderr"
  },
  "prometheus": {
    "address": "127.0.0.1:9777",
    "endpoint": "/metrics",
    "auth": {
      "basic": {
        "username": "username",
        "password": "password"
      }
    },
    "summaryMaxAge": 86400,
    "chanSize": 1024
  },
  "space": {
    "cache": {
      "expiration": -1,
      "memory": {
        "cleanup": 600
      }
    },
    "listener": {
      "address": "127.0.0.1:7070",
      "domains": [
        "gopher-test.t18s.fr"
      ],
      "tls": {
        "acme": {
          "dnsprovider": "gandi",
          "email": "titou@le.t18s.fr",
          "ca": "https://acme-staging-v02.api.letsencrypt.org/directory",
          "testca": "https://acme-staging-v02.api.letsencrypt.org/directory",
          "storage": {
            "file": {
              "path": ".certmagic"
            }
          }
        }
      }
    },
    "handler": {
      "name": "gopher",
      "parameters": {
        "response_domain": "gopher-test.t18s.fr",
        "response_port": "7070"
      }
    },
    "basedir": "examples/gopher",
    "routes": {
      "~^blog/(\\d{4})/(\\d{2})$": {
        "template": "blog/$1-$2.tpl"
      },
      "aggregator/music": {
        "template": "aggregator.tpl",
        "fetch": {
          "1_nwothm": {
            "type": "feed",
            "uri": "https://www.youtube.com/feeds/videos.xml?channel_id=UCCGbKiCJjph8Grazqmo7z4w"
          },
          "2_nuclearblast": {
            "type": "feed",
            "uri": "https://www.youtube.com/feeds/videos.xml?channel_id=UCoxg3Kml41wE3IPq-PC-LQw"
          }
        },
        "cron": "0 15 18 * * *"
      },
      "aggregator/unix": {
        "template": "aggregator.tpl",
        "fetch": {
          "1_slashdot": {
            "type": "feed",
            "uri": "http://rss.slashdot.org/Slashdot/slashdotMain"
          },
          "2_undeadly": {
            "type": "feed",
            "uri": "https://undeadly.org/cgi?action=rss&items=15"
          }
        },
        "cron": "0 30 */5 * * *"
      },
      "about/stats": {
        "fetch": {
          "prometheus": {
            "type": "prometheus",
            "uri": "http://username:password@127.0.0.1:9777/metrics"
          }
        },
        "cache": {
          "expiration": -1
        }
      }
    }
  }
}
